body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
}

.sidebar-header {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #0056b3;
}

.nav-link {
    font-weight: bold;
    color: black;
}

.nav-link.active {
    background-color: #0056b3;
    border-radius: 4px;
}

.content {
    padding-left: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body h5 {
    font-size: 1.1rem;
    color: #333;
}

.card-body p {
    font-size: 1.5rem;
    color: #007bff;
    font-weight: bold;
}
.logounpam {
    height: 50px;
    width: auto;
    border-radius: 8px;
}